<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <app-progress-bar [progress]="progressOne"></app-progress-bar>
        <app-progress-bar
          [progress]="progressTwo"
          [barClass]="'bg-info'"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incremetador
          [progress]="progressOne"
          (newProgress)="progressOne = $event"
        ></app-incremetador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incremetador
          [progress]="progressTwo"
          (newProgress)="progressTwo = $event"
          [btnClass]="'btn-info'"
        ></app-incremetador>
      </div>
    </div>
  </div>
</div>
