<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="buscar usuario"
          (keydown)="buscarMedicos(buscarMedico.value)"
          #buscarMedico
        />
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Espere por favor</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Medicos</h4>
            <h6 class="card-subtitle">Medicos registrados en la aplicacion</h6>
          </div>
          <div class="col text-right">
            <button class="btn btn-primary" (click)="crearMedico()">
              Crear Medico
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th class="">Hospital</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td>
                  <img
                    [src]="medico.img | imagen: 'medicos'"
                    [alt]="medico.nombre"
                    class="avatar cursor"
                    (click)="abrirModal(medico)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del medico"
                    [(ngModel)]="medico.nombre"
                  />
                </td>

                <td>
                  <select
                    type="text"
                    class="form-control"
                    placeholder="Nombre del medico"
                    (change)="cambiarHospital($event, medico)"
                  >
                    <option [value]="null" selected="true" disabled>
                      Selecciona un hospital
                    </option>
                    <option
                      [value]="hospital.id"
                      *ngFor="let hospital of hospitalesCat; let i = index"
                      [selected]="hospital.id === medico.hospital?._id"
                    >
                      {{ hospital.nombre }}
                    </option>
                  </select>
                </td>

                <td class="text-nowrap text-center">
                  <a
                    (click)="editarMedico(medico)"
                    data-toggle="tooltip"
                    data-original-title="Guardar"
                    class="cursor"
                  >
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="eliminarMedico(medico)"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-info">Anterior</button>
          <button class="btn btn-primary">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>
