<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="buscar hospital"
          (keyup)="buscarHospital(inputBuscarHospitales.value)"
          #inputBuscarHospitales
        />
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Espere por favor</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitales</h4>
            <h6 class="card-subtitle">
              Hospitales registrados en la aplicacion
            </h6>
          </div>
          <div class="col text-right">
            <button class="btn btn-primary" (click)="crearHospital()">
              <i class="fa fa-hospital-o"></i>
              Crear Hospital
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td>
                  <img
                    (click)="abrirModal(hospital)"
                    [src]="hospital.img | imagen: 'hospitales'"
                    [alt]="hospital.nombre"
                    class="avatar cursor"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del hospital"
                    [(ngModel)]="hospital.nombre"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Guardar"
                    class="cursos"
                    (click)="guardarCambios(hospital)"
                  >
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="borrarHospital(hospital)"
                    class="cursos"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-info">Anterior</button>
          <button class="btn btn-primary">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>
